  <div class="col-md-12">
    <div class="jumbotron">
      <div class="container">
        <h3>Welcome, Find A Restaurant TT</h3>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <form class="form-inline" id="resturant-form">
            <div class="form-group">
              <label for="exampleInputName2">Meal Type</label>
              <input type="text" class="form-control" id="mealtype" name="mealType" placeholder="Meal Type">
            </div>
            <div class="form-group">
              <label for="exampleInputName2">Location</label>
              <input type="text" class="form-control" id="Location" name="location" placeholder="Location">
            </div>
            <button type="submit" class="btn btn-default">Add Restaurant</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" id="reviewBody">
        
      </div>      
    </div>

  </div>